@model DentalClinicManagement.Models.Appointment

<h2>Randevu Sil</h2>

<h3>Bu randevuyu silmek istediğinizden emin misiniz?</h3>
<div>
    @if (Model.Patient != null && Model.Doctor != null)
    {
        <h4>@Model.Patient.FirstName @Model.Patient.LastName'ın randevusu Dr. @Model.Doctor.FirstName @Model.Doctor.LastName ile @Model.Date tarihinde.</h4>
    }
    else
    {
        <h4>Randevu detayları mevcut değil.</h4>
    }

    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Sil" class="btn btn-danger" />
        <a asp-action="Index" class="btn btn-secondary">İptal</a>
    </form>
</div>
